[package]
name = "epok"
description = "External port operator for Kubernetes"
authors = ["RareÈ™ <rares@getbetter.ro>"]
version = "0.6.0"
edition = "2021"
publish = ["getbetter"]

[[bin]]
name = "epok"
path = "src/main.rs"

[[bin]]
name = "epok-clean"
path = "src/bin/cleanup.rs"

[dependencies]
anyhow = "1.0"
backoff = "0.4"
clap = { version = "3.2", features = ["cargo", "derive", "env"] }
cmd_lib = "1.3"
enum_dispatch = "0.3.8"
futures = "0.3"
itertools = "0.10"
k8s-openapi = { version = "0.15", default-features = false, features = ["schemars", "v1_24"] }
kube = { version = "0.74", default-features = false, features = ["client", "openssl-tls", "runtime"] }
lazy_static = "1.4"
pin-project = "1"
sha256 = "1"
tokio = { version = "1", features = ["full", "test-util"] }
tokio-stream = "0.1"
tracing = { version = "0.1", default-features = false, features = ["std"] }
tracing-subscriber = { version = "0.3", features = ["env-filter"] }

[dev-dependencies]
quickcheck = { version = "1", default-features = false }

[profile.release]
debug = 1
incremental = true
lto = "off"
